@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@300&family=Nunito+Sans:wght@300&family=Open+Sans:wght@300;600&display=swap');
body {
    padding: 0;
    margin: 0;
    background-color: #e8e1df;
}

/* CONTAINER */

.container {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
}

/* Left side */

.left-side {
    width: 40vw;
    height: 80vh;
    margin: 5vh 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, p {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #3b4969;
}

p {
    font-size:larger;
    line-height: 35px;
}

button {
    width: 200px;
    height: 50px;
    font-size: larger;
    border-radius: 50px;
    border: none;
    background-color: #f36b51;
    color: #3b4969;
}

button:hover {
    background-color: #fdb591;
    box-shadow: 1px 1px 1px 1px #f8b192;
}

/* Right side */

.right-side {
    width: 60vw;
    height: 100vh;
    background-image: url("My\ Mails-Assets/New message-rafiki.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

