@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@300&family=Nunito+Sans:wght@300&family=Open+Sans:wght@300;600&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #e8e1df;
}

/* HOME PAGE */ 

/* HOME PAGE CONTAINER */

.home-container {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
}

/* Left side */

.left-side {
    width: 40vw;
    height: 80vh;
    margin: 5vh 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-texts {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #3b4969;
}

p.home-texts {
    font-size:larger;
    line-height: 35px;
}

button {
    width: 200px;
    height: 50px;
    font-size: larger;
    border-radius: 50px;
    border: none;
    background-color: #FF6802;
    color: #FCFCF9;
}

button:hover {
    background-color: #FFA120;
    box-shadow: 1px 1px 1px 1px #eae4e2;
}

/* Right side */

.right-side {
    width: 60vw;
    height: 100vh;
    background-image: url("My\ Mails-Assets/New message-rafiki.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/* MAILBOX */ 

/* Nav bar */

.header {
    background-color: #A19EDA;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.brand {
    width: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#logo {
    width: 33px;
    height: auto;
    margin: 10px 10px 10px 15px;
}

#brand_name {
    color: #FCFCF9;
}

#settings {
    width: 25px;
    height: 25px;
    margin: 10px 15px 10px 10px;
}

#search {
    width: 50vw;
    height: 50%;
    border: 1px solid lightgrey;
    border-radius: 20px;
}

::placeholder {
    color: lightgrey;
    text-align: center;
}

/* MAILBOX Container */

.container {
    width: 100vw;
    height: 80vh;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* Mail */

.mail {
    background-color: #fdfcfc;
    border-top: 1px solid #DADADA;
    border-left: 1px solid #DADADA;
    border-right: 1px solid #DADADA;
    width: 60vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mail:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.mail:last-child {
    border-bottom: 1px solid #DADADA;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.text-content {
    display: flex;
    flex-direction: column;
    margin: 15px 0px;
}

.avatar {
    border-radius: 50%;
    height: 60px;
    width: auto;
    margin: 15px;
}

.trash-icon {
    width: 15px;
    height: 15px;
    margin: 15px;
}

/* MAIL Texts */

h6.mail-text, p.mail-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin: 5px;
    color: #3b4969;
}

h6.mail-text {
    font-weight: bold;
}